<?xml version="1.0"?>
<appSettings>
  <!-- GameTime Settings-->
  <add key="API_SITE" value="scprograms.dev.MightySite.com"/>
  <add key="GameTimeAPI_URL" value="http://v2.GameTime.com/api/6534gfeddede836178a851559a36b24358/"/>
  <add key="GameTimeScriptURL" value="https://GameTime.com/v4/GameTime-current.js"/>
  <add key="GameTimeServerPrefix" value="RedLimit"/>
  <add key="GameTimeWidgetKey" value="58038b0efa696a56346bf2cbf97c790e"/>
  <add key="GameTimeSuppressLog" value="false"/>
  <!-- End GameTime Settings-->

  <add key="CryptKey" value="Nowisthetimeforallgoodrobots"/>
  <add key="ErrorReportsIdentString" value="MightySiteProgramsDev"/>
  <add key="ExerciseStaticContentPrefix" value="https://MightySiteme.Zee.bigcloud.com/dev/"/>
  <add key="IfNoUserIDRedirectTo" value="http://localhost/redirfromprogram.aspx?err=nouserid"/>
  <add key="IsTesting" value="True"/>
  <add key="ThxLocationPath" value="c:\inetpub\wwwroot\"/>
  <add key="ThxWebPath" value="https://localhost:44300/"/>

  <add key="RedirectIfUnauthorized" value="http://www.stage.MightySite.com"/>
  <add key="ZeeBucketName" value="MightySiteme"/>
  <add key="ZeeHost" value="http://Zee.bigcloud.com/"/>
  <add key="MightySiteDataDomain" value="http://www.thomas-bayer.com/sqlrest/"/>
  <add key="MightySiteModulesDomain" value="https://www.stage.MightySite.com/"/>
  <add key="SSOClient" value="MightySiteprograms"/>
  <add key="MightySiteSSOPassword" value="fm435i94fepoek23lkejoidhj33ur3hingfeijhfkuh"/>
  <add key="MightySiteSSOUser" value="MightySite"/>
  <add key="MightySiteDomain" value="http://www.stage.MightySite.com/"/>
  <add key="MightySiteSSOurl" value="http://date.jsontest.com/"/>
  <add key="StaticContentPrefix" value="/"/>
  <add key="StaticContentPrefixAdmin" value="https://MightySite.Zee.amazonaws.com/dev/"/>
  <add key="WhiteListStrings" value="MightySite.com"/>
  <add key="GameTimePresent" value="true"/>
  <add key="MightySitePresent" value="true"/>
  <add key="MightySiteWallPassword" value="tp34sn444lm3klm4z0oq78"/>
  <add key="MightySiteWallUser" value="MightySitefitprogramtips@MightySite.com"/>
  <add key="DevConSync" value="true" />
  <add key="DevConMightySiteUrl" value="http://localhost:5000/"/>
  <add key="DevConApiPrefix" value="https://stagingMightySite.DevCon.com/api/v1/"/>
</appSettings>
