<?xml version="1.0"?>
<connectionStrings>

    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-WebFormsSite-9cf843e5-6267-4a47-9058-77752700a90d;AttachDbFilename=|DataDirectory|\aspnet-WebFormsSite-9cf843e5-6267-4a47-9058-77752700a90d.mdf;Integrated Security=SSPI" providerName="System.Data.SqlClient" />

    <add name="DB1" connectionString="user id=ArmyProgUser;password=Army!2013;persist security info=False;data source=SC1193\SS2008R2;initial catalog=NutfitUser;" />
    <add name="DB2" connectionString="user id=ArmyProgUser;password=Army!2013;persist security info=False;data source=SC1193\SS2008R2;initial catalog=NutFitTemplate;" />
    <add name="DB3" connectionString="user id=ArmyProgUser;password=Army!2013;persist security info=False;data source=SC1193\SS2008R2;initial catalog=ExercisesTemplate;" />
    
</connectionStrings>
