@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC Health Check</h1>
    <p class="lead">A web framework for building an extensible diagnostic page for an application.</p>
    <p><a href="https://github.com/redwebs/HealthCheck" class="btn btn-primary btn-lg">Get Source &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Basic Check</h2>
        <p>
            This is a minimal check that verifies you can reach the site and that the database is up.
            If you have a load balancer calling health check every few seconds this is the call to make.
            The basic check returns a 200 on success and a 500 on fail with nothing in the body of the response.
        </p>
        <p>@Html.ActionLink("Run Simple Check", "Index", "HealthCheck")</p>
    </div>
    <div class="col-md-3">
        <h2>Detailed Check</h2>
        <p>Verfiy database in detail, web services, system settings.</p>
        <p>@Html.ActionLink("Run Detailed Check", "Details", "HealthCheck")</p>
    </div>
</div>