<?xml version="1.0"?>
<connectionStrings>

    <add name="DB1" connectionString="user id=WebAppUser;password=Zap!2015;persist security info=False;data source=localhost;initial catalog=User;" />
    <add name="DB2" connectionString="user id=WebAppUser;password=Zap!2015;persist security info=False;data source=localhost;initial catalog=Template;" />
    
</connectionStrings>
